div.cart-container {
  background: #222 !important;
  padding: 10px !important;
  border-radius: 10px !important;
  width: 280px !important;
}

div.cart-container .cart-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

div.cart-container .cart-items {
  max-height: 70px !important;
  overflow-y: auto !important;
  margin-top: 10px !important;
}

div.cart-container .cart-items div {
  margin-bottom: 4px !important;
  word-wrap: break-word !important;
}
